.filter {
  display: inline-flex;
  position: relative;

  #header:has(&) {
    position: relative;
    z-index: 1;
  }
}

.filter--active {
  li {
    display: none;

    &.selected {
      display: flex;
    }
  }
}

.filter__button {
  --hover-size: 0;

  color: var(--color-link);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.filter__menu {
  a {
    border-radius: 0.5em;
    color: var(--color-ink);
    display: block;
    overflow: hidden;
    padding: 0.3em 0.7em;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-selected);
      }
    }
  }
}

.filter__popup {
  --panel-border-radius: 0.5em;
  --panel-padding: 0.5em;
  --panel-size: 30ch;

  inline-size: auto !important;
  inset: 0 auto auto 0;
  margin-block-start: 1lh;
  margin-inline-start: calc((var(--panel-padding) + 0.7em) * -1);
  min-inline-size: 12ch;
  max-inline-size: var(--panel-size) !important;
  position: absolute;
  transform-origin: top left;
  z-index: 1;
}
