@layer components {
  .lightbox {
    --dialog-duration: 350ms;

    background-color: transparent;
    block-size: 100dvh;
    border: 0;
    inline-size: 100dvw;
    inset: 0;
    margin: auto;
    max-height: unset;
    max-width: unset;
    overflow: hidden;
    padding: var(--block-space-half) var(--inline-space);

    &::backdrop {
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      background-color: oklch(var(--lch-black) / 50%);
    }

    img {
      animation: slide-down var(--dialog-duration);
      animation-fill-mode: forwards;
      display: block;
      margin: auto;
    }

    /* Closed state */
    &,
    &::backdrop {
      opacity: 0;
      transition: var(--dialog-duration) allow-discrete;
      transition-property: display, opacity, overlay;
    }

    /* Open state */
    &[open],
    &[open]::backdrop {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }

      img {
        animation: slide-up var(--dialog-duration);
      }
    }
  }

  .lightbox__btn {
    inset: var(--block-space-half) var(--inline-space) auto auto;
    position: absolute;
  }

  .lightbox__image {
    grid-area: 1/1;
    max-inline-size: calc(100dvw - (var(--inline-space) * 2));
    max-block-size: calc(100dvh - (var(--block-space) * 2));
  }

  /* Prevent body from scrolling when lightbox is open */
  html:has(.lightbox[open]) {
    overflow: clip;
  }
}
